* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}
body {
	font-family: Langar;
	background-image: url("20191217_200630.jpg");
	background-size:  100%;
	background-attachment: fixed;
}
li {
	list-style:none;
	margin-top:30px;
}
/*----------Header----------*/
a {
	text-decoration: none;
}
.header {
	background-color: #228b22; 
	color: #fff; 
	height: 90px;
	margin-bottom: 10px;
}
.header-logo {
	float:left; 
	font-size:30px;
	padding: 20px 40px;
}
.header-logo a {
	color: #fff;
}
.header-list li {
	font-family: Minecraftia;
	float: left;
}
.header-list a {
	color: #fff;
	padding: 20px 30px 20px 10px;
}
/*----------Main----------*/
.main h1 {
	text-align: center;
	font-size: 40px;
	color: #fff;
	background-color: #2f4f4f;
}
.main h2 {
	font-size: 20px;
	text-align: center;
	margin-bottom: 60px;
	color: #fff;
}
.main p {
	color: #fff;
	margin-left: 60px;
	margin-bottom: 600px;
}
.maintitle h1 {
	text-align: center;
	color: #fff;
	background-color: #2f4f4f
}
.main2 {
	background-color: #fff5ee;
	height: 500px;
	width: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
}
.main2 h1 {
	width: 100%;
	text-align: center;
	font-size: 40px;
	color: #fff;
	background-color: #2f4f4f;
}
.main2 img {
	height: 300px; 
	width: 300px;
}
.main3 {
	background-color: #fff5ee;
	height: 500px;
	width: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
}
.main3 h1 {
	width: 100%;
	text-align: center;
	font-size: 40px;
	color: #fff;
	background-color: #2f4f4f;
}
.main3 img {
	height: 300px; 
	width: 300px;
}
.mainfooter h1 {
	text-align: center;
	color: #fff;
	background-color: #2f4f4f
}
/*----------Footer----------*/
.footer img {
	height: 209px; 
	width: 148px;
}
.footer {
	background-color: #708090;
	height: 270px;
	padding: 40px;
}
.footer-list {
	float: right;
}
.footer-list li {
	padding-bottom: 10px;
	color: #ffffff;
}
